.loadMore {
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  color: black;
  fill: black;
  background-color: var(--accent);
  transition: all 500ms ease-out;
}

.loadMore:hover {
  opacity: 0.9;
}

.loadMore:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} 