.newsItem {
  margin-bottom: 100px;
  text-align: left;
  background-color: var(--card-bg-color);
  padding: 20px 0;
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.date {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  margin-left: 20px;
}

.text {
  white-space: pre-wrap;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--secondary-font-color);
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .newsItem {
    margin-bottom: 60px;
    width: 100%;
  }
  
  .date {
    font-size: 16px;
    line-height: 18px;
  }

} 