@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.get-prothesis-block {
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-prothesis-form {
    padding: 50px 50px;
    border-radius: 30px;
    background-color: var(--bg-color);
    width: 500px;
}

.get-prothesis-form__title {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.loader-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid var(--font-color);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
}

.form {
    width: 100%;
}

.form .form-group {
    position: relative;
    margin: 25px 0;
}

.form .form-group .form-control {
    display: block;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 15px;
    display: block;
    border: none;
    width: 100%;
    background: var(--card-bg-color);
    height: 35px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.form .form-group .form-control:focus {
    outline: 0;
    background: var(--card-bg-color);
}

.form .form-group .form-control--filled {
    background: var(--card-bg-color);
}

.form .form-group .form-control:-webkit-autofill,
.form .form-group .form-control:autofill {
    -webkit-box-shadow: inset 0 0 0 50px;
    box-shadow: inset 0 0 0 50px var(--card-bg-color);
    color: var(--font-color) !important;
    -webkit-text-fill-color: var(--font-color) !important;
    border: none !important;
    outline: none !important;
}

.form .form-group .form-control::placeholder {
    color: var(--secondary-font-color) !important;
}

.form .form-group .form-control::-ms-input-placeholder {
    color: var(--secondary-font-color) !important;
}

.form .form-group .form-control:-ms-input-placeholder {
    color: var(--secondary-font-color) !important;
}

.form .form-group .form-control::-webkit-input-placeholder {
    color: var(--secondary-font-color) !important;
}

.form .form-group .form-control::-moz-placeholder {
    color: var(--secondary-font-color) !important;
}

.form .form-group select {
    color: var(--font-color);
}

.form .form-group select option {
    color: #212529;
}

.form .form-group .form-textarea {
    min-height: 100px;
    scrollbar-color: var(--card-bg-color) var(--bg-color);
    scrollbar-width: thin;
    min-height: 100px;
    padding: 10px 15px;
    white-space: pre-wrap;
    overflow-x: hidden;
    scrollbar-width: none;
}

.form-textarea::-webkit-scrollbar {
    display: none;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-checkbox {
    font-size: 10px;
    line-height: 12px;
    color: var(--font-color);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.form-checkbox__input {
   width: 15px;
   height: 15px;
   border-radius: 3px;
   border: 1px solid var(--font-color);
   flex-shrink: 0;
}

.form-checkbox__input--error {
    border: 1px solid var(--helper-red);
}

.form-doc {
    cursor: pointer;
    color:  var(--font-color);
}

.form-checkbox__label {
    font-size: 11px;
    line-height: 12px;
    color: var(--secondary-font-color);
}

.form-checkbox__input:checked {
    border: 1px solid var(--font-color);
    background-color: var(--secondary-font-color);
}

.helper {
    position: absolute;
    bottom: -15px;
    right: 7px;
    color: var(--helper-red);
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.helper--green {
    color:  var(--helper-green);
}

.formSubmitButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    background: var(--accent);
    color: #000000;
    transition: all 0.3s;
    border-radius: 30px;
    text-align: center;
    white-space: pre-line;
    margin-top: 22px;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
}

.formSubmitButton:hover,
.formSubmitButton:focus {
    opacity: 0.8;
}

.formSubmitButton:disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.formSubmitButton>* {
    position: relative;
}

.formSubmitButton span {
    display: inline-block;
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    .get-prothesis-block {
        padding: 10px;
    }

    .get-prothesis-form__title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .get-prothesis-form {
        padding: 40px 30px;
        border-radius: 30px;
        width: 100%;
        max-width: 500px;
    }
}