.articles {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 2%;
}

.articles__description {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-font-color);
    margin-bottom: 40px;
    white-space: pre-line;
}

.articles__item {
    position: relative;
    width: 32%;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    color: var(--font-color);
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
}

.articles__item:hover {
    background-size: 102% auto;
}

.articles__item-text {
    color: white;
    width: 100%;
    text-align: center;
    height: 150px;
    line-height: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .articles {
        row-gap: 30px;
        column-gap: 4%;
    }

    .articles__description {
        width: 100%;
    }

    .articles__item {
        width: 48%;
        border-radius: 30px;
        background-size: 100% auto;
    }

    .articles__item:hover {
        background-size: 100% auto;
    }

    .articles__item-text {
        font-size: 28px;
        height: 120px;
        line-height: 120px;
    }
}