.container {
  width: 100%;
  position: relative;
  background-color: var(--card-bg-color);
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}


.video__frame {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    aspect-ratio: 1 / 1.2;
  }
}