.preview {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
    min-height: 600px;
    height: 60dvh;
}

.preview__row {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.preview__title {
    color: var(--font-color);
    padding: 80px;
    margin: 0;
    min-height: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color-opacity);
}

.preview__main-line {
    font-size: 52px;
    line-height: 60px;
    max-width: 800px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.preview__secondary-line {
    font-size: 16px;
    max-width: 800px;
    line-height: 25px;
    white-space: pre-line;
    text-indent: 0;
}

.full-page-video__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    z-index: -1;
}

.preview__image {
    z-index: -1;
    transition: all 800ms ease-in-out;
    opacity: 0;
}

.loaded {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .preview {
        margin-bottom: 40px;
        min-height: auto;
        height: 90dvh;
        
    }

    .preview__title {
        padding: 0 30px 0 30px;
        height: 100%;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    .preview__main-line {
        font-size: 25px;
        line-height: 38px;
    }

    .preview__secondary-line {
        font-size: 16px;
        line-height: 25px;
    }

    .full-page-video__video {
        object-position: 50% 50%;
    }
}
