.books__item-wrapper {
    display: flex;
    gap: 3%;
    align-items: flex-start;
    position: relative;
}

.books__img {
    margin-top: 7px;
    width: 7%;
}

.books__img .books__svg {
    display: flex;
    fill: var(--font-color);
}

.books__item-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.books__item-description {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    width: 100%;
    color: var(--secondary-font-color);
    height: auto;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.books__item-description--visible  {
    max-height: 200px;
    opacity: 1;
}

.books__item-name {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .books__item-wrapper {
        gap: 4%;
    }
    
    .books__img {
        width: 9%;
    }

    .books__item-info {
        width: 87%;
    }
}