.article-grid__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0;
}

.article-grid__img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    align-self: flex-end;
}

.article-grid__title {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    font-weight: bold;
    width: 100%;
    white-space: pre-line;
    padding: 20px;
}