.article-grid__item {
    display: flex;
    gap: 3%;
    align-items: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
}

.article-grid__img {
    margin-top: 7px;
    width: 7%;
    max-width: 30px;
}

.article-grid__img .article-grid__svg {
    width: 100%;
    display: flex;
    fill: var(--font-color);
}

.article-grid__title {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    width: 100%;
    white-space: pre-line;
}

@media screen and (max-width: 768px) {
    .article-grid__item {
        gap: 4%;
    }
    
    .article-grid__img {
        width: 9%;
    }
}