.steps {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.steps-page__description {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-font-color);
    margin-bottom: 40px;
    white-space: pre-line;
}

.steps__item {
    position: relative;
    padding: 20px;
    padding-top: 30px;
    background-color: var(--card-bg-color);
    border-radius: 30px;
    width: 32%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.steps__number {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 50%;
    background-color: var(--accent);
    font-weight: bold;
    color: black;
}

.steps__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.steps__description {
    text-align: center;
    width: 100%;
    color: var(--secondary-font-color);
    white-space: pre-line;
}

.steps__description--left {
    text-align: left;
}

.consulting, .doctor, .help, .money, .prod, .soc {
    fill: var(--font-color);
}

.steps-rows {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
}

.steps-rows__item {
    position: relative;
    padding: 20px;
    padding-top: 30px;
    background-color: var(--card-bg-color);
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 45%;
}

.steps-rows__item-title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.steps-rows__item-description {
    text-align: left;
    width: 100%;
    color: var(--secondary-font-color);
    white-space: pre-line;
}

.steps-page__description a {
    text-decoration: underline;
    cursor: pointer;
}

.steps-rows__item-description--white {
    color: var(--font-color);
}


@media screen and (max-width: 768px) {
    .steps-page__description {
        width: 100%;
    }

    .steps__item {
        padding: 40px 20px;
        width: 100%;
        min-height: auto;
    }

    .steps-rows__item {
        width: 100%;
    }
}