@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}


.close-button {
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-105%);
  transition: all 1s ease-in-out;
  z-index: 2;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .popup-overlay {
      -webkit-backdrop-filter: blur(50px);
      background-color: var(--bg-color-opacity);
      backdrop-filter: blur(20px);
  }
}

.popup-overlay--opened {
  transform: translateY(0);
}

.popup {
  padding: 50px;
  border-radius: 30px;
  width: 500px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow) 0px 6px 20px 0px;
}

@media screen and (max-width: 1080px) { 
  .popup {
    padding: 30px;
    background-color: transparent;
    box-shadow: none;
  }
}

.popup__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

/* Основные стили для формы */
.form {
  display: flex;
  flex-direction: column;
}

/* Стили для групп полей */
.form-group {
  margin-bottom: 15px;
}

/* Стили для полей ввода */
.input-field {
  width: 100%;
  font-size: 16px;
  border: 2px solid var(--card-bg-color);
  box-sizing: border-box;
  font-size: 16px;
  line-height: 25px;
  padding: 5px 15px;
  display: block;
  background: var(--card-bg-color);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.input-field:focus {
  border-color: var(--accent);
  outline: none;
}

.input-field:-webkit-autofill,
.input-field:autofill {
  -webkit-box-shadow: inset 0 0 5px 50px;
  box-shadow: inset 0 0 5px 50px var(--card-bg-color);
  color: var(--font-color) !important;
  -webkit-text-fill-color: var(--font-color) !important;
  border: 2px solid var(--card-bg-color) !important;
  outline: none !important;
}

.input-field:placeholder {
  color: var(--secondary-font-color) !important;
}

.input-field::-ms-input-placeholder {
  color: var(--secondary-font-color) !important;
}

.input-field:-ms-input-placeholder {
  color: var(--secondary-font-color) !important;
}

.input-field::-webkit-input-placeholder {
  color: var(--secondary-font-color) !important;
}

.input-field::-moz-placeholder {
  color: var(--secondary-font-color) !important;
}


/* Стили для чекбокса */
.checkbox {
  margin-right: 10px;
}

/* Сообщения об ошибках */
.error-message {
  color: red;
  font-size: 10px;
  text-align: right;
  line-height: 14px;
  margin-top: 0px;
}

.form-textarea {
  min-height: 100px;
  scrollbar-color: var(--card-bg-color) var(--bg-color);
  scrollbar-width: thin;
  min-height: 100px;
  padding: 10px 15px;
  white-space: pre-wrap;
  overflow-x: hidden;
  scrollbar-width: none;
}

.form-textarea::-webkit-scrollbar {
  display: none;
}

.form-doc {
  font-size: 11px;
  line-height: 12px;
  cursor: pointer;
  color:  var(--font-color);
}

.form-checkbox {
  font-size: 10px;
  line-height: 12px;
  color: var(--font-color);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.form-checkbox__input {
 width: 15px;
 height: 15px;
 border-radius: 3px;
 border: 1px solid var(--font-color);
 flex-shrink: 0;
}

.form-checkbox__input--error {
  border: 1px solid var(--helper-red);
}

.form-checkbox__label {
  font-size: 11px;
  line-height: 12px;
  color: var(--secondary-font-color);
}

.form-checkbox__input:checked {
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
}

.formSubmitButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  background: var(--accent);
  color: #000000;
  transition: all 0.3s;
  border-radius: 30px;
  text-align: center;
  white-space: pre-line;
  margin-top: 5px;
  cursor: pointer;
  line-height: 20px;
  transition: background-color 0.3s, transform 0.2s; /* Добавлено для эффекта при наведении */
}

.formSubmitButton:hover,
.formSubmitButton:focus {
  opacity: 0.8;
}

.formSubmitButton:disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

.formSubmitButton>* {
  position: relative;
}

.formSubmitButton span {
  display: inline-block;
  padding: 10px 20px;
}



.submit-btn:not(:disabled):hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Эффект поднятия кнопки при наведении */
}

.submit-btn:not(:disabled):active {
  transform: translateY(0); /* Вернуться в исходное положение при нажатии */
}

.loader-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}


@media screen and (max-width: 1080px) { 
  .close-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: auto;
    display: block;
  }
}