.quote {
    margin: 0 auto;
    width: 100%;
}

.quote__content {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    max-width: 800px;
    padding: 80px 40px 120px 40px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote__description {
    text-align: center;
    margin-bottom: 30px;
     font-size: 16px;
    line-height: 25px;
    white-space: pre-line;
    color: var(--secondary-font-color);
}

.quote__author {
    font-size: 16px;
    line-height: 25px;
    text-align: center;  
    font-weight: bold;
    color: var(--accent);
    white-space: pre-line;
}

@media screen and (max-width: 768px) {   
    .quote {
        margin: 0 auto;
        width: 100%;
    }

    .quote__content {
        padding: 30px 30px 70px;
         font-size: 16px;
        line-height: 25px;
        flex-direction: column;
    }

    .quote__description {
        text-align: left;
         font-size: 16px;
        line-height: 25px;
    }

    .quote__content-inner {
        padding: 0;
        margin-bottom: 30px;
    }

    .quote__author {
        text-align: left;  
    }
}