.arrow-button {
    display: flex;
    border: none;
    height: 50px;
    width: 50px;
    bottom: 15px;
    left: 15px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 100ms;
    border-radius: 50%;
    color: var(--font-color);
    fill:  var(--font-color);
    background-color: var(--card-bg-color);
    transition: all 500ms ease-out;
    z-index: 1;
}

.arrow-button:hover {
    background-color: var(--secondary-card-bg-color);
}

.arrow-button svg {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-top: 0;
}

.arrow-button svg path {
    fill: var(--font-color);
}


.scroll-top-button {
    position: fixed;
    visibility: hidden;
    bottom: 15px;
    left: 15px;
    opacity: 0;
}

.scroll-top-button--visible {
    visibility: visible;
    opacity: 1;
}
