.videos__description {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-font-color);
    white-space: pre-line;
}

.videos__item {
    position: relative;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    color: var(--font-color);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
}

.videos__item:hover {
    background-size: 105% auto;
}

.videos__frame {
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 768px) {
    .videos__content {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .videos__description {
        width: 100%;
        text-align: left;
    }

    .videos__item {
        width: 100%;
        border-radius: 30px;
    }

    .videos__item:hover {
        background-size: 100% auto;
    }

    .videos__frame {
        width: 100%;
        height: 200px;
    }
}