.footer {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 80px;
    margin-top: 80px;
    display: flex;
}

.footer__line {
    box-sizing: content-box;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid  var(--secondary-font-color);
}

.footer__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    row-gap: 20px;
}

.footer__block {
    margin-bottom: 10px;
}

.footer__block a {
    cursor: pointer;
}

.footer__block--flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerimgSK {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.footer__number {
    margin-bottom: 10px;
   color: var(--secondary-font-color);
}

.footer__doc {
   color: var(--secondary-font-color);
}

.footer__mail {
   color: var(--secondary-font-color);
}

.footer__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.footer__smi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__smi-link {
    width: 100px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.footer__address {
    color: var(--secondary-font-color);
}

.footer__social-svg {
    display: flex;
    gap: 5px;
}

@media screen and (max-width: 900px) {
    .footer {
        display: block;
        margin-top: 40px;
        padding: 0 40px;
    }

    .footer__grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        grid-gap: 10px;
        margin-bottom: 80px;
    }

    .footer__title {
        text-align: left;
        margin-bottom: 5px;
    }

    .footer__block {
        text-align: left;
        overflow: hidden;
    }

    .footer__smi {
        gap: 10px;
    }

    .footer__block--flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}