.history {
    display: flex;
    padding: 40px 40px 0;
    gap: 3%;
}

.history__content {
    margin: 0 auto;
    display: flex;
    background-color: var(--card-bg-color);
    flex-direction: column;
    justify-content: center;
    width: 62%;
    padding: 40px;
    border-radius: 30px;
}

.history__image {
    width: 35% !important;
    background: linear-gradient(90deg, var(--bg-color-gradient-2) 10%, var(--bg-color-gradient-1) 90%);
    border-radius: 30px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    overflow: hidden;
}

.history__title {
    text-align: left;
}

.history__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    white-space: pre-line;
    color: var(--secondary-font-color);
}

.history__description:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {   
    .history {
        flex-direction: column-reverse;
        padding: 0;
        gap: 20px;
        align-items: center;
    }

    .history__content {
        padding: 0;
        font-size: 16px;
        line-height: 25px;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }

    .history__image {
        width: 100% !important;
    }

    .history__description {
        text-align: left;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 25px;
    }
}