.history__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    white-space: pre-line;
    color: var(--secondary-font-color);
}

.history__description:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {   
    .history {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .history__content {
        padding: 0 15px;
        font-size: 16px;
        line-height: 25px;
        flex-direction: column;
    }

    .history__description {
        text-align: left;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 25px;
    }

    .history__content-inner {
        padding: 0;
        margin-bottom: 30px;
    }
}