.advantages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    transition: all 0.2s ease-in-out;
    object-fit: cover;   
}

.advantages__item:last-child {
    margin-bottom: 0;
}

.advantages__content {
    max-width: 400px;
}

.advantages__item-text {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    /* color: var(--font-color); */
    color: #000000;
}

.advantages__item-description {
    text-align: center;
    width: 100%;
    /* color: var(--secondary-font-color); */
    color: #313131;
}

.advantages__item--right {
    align-items: flex-end;
    text-align: right;
}

.advantage__item-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 1s ease-in-out;
}

.advantage__item-image:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    .advantages__content {
        max-width: 100%;
        width: 100%;
    }

    .advantages__item {
        min-height: 400px;
        padding: 40px 20px;
        margin-bottom: 40px;
        justify-content: flex-end;
    }

    .advantage__item-image:hover {
        transform: scale(1);
    }

    .advantages__item-text {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

}