    .burger-menu {
        z-index: 5;
        display: block;
    }

    .burger-menu__button {
        width: 19px;
        height: 20px;
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .burger-menu__span {
        width: 19px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--font-color);
        transition: all 0.5s;
    }

    .burger-menu__span--2 {
        top: calc(50% - 6px);
    }

    .burger-menu__span--3 {
        top: calc(50% + 6px);
    }

    .burger-menu__button--active .burger-menu__span--1 {
        display: none;
        background-color: var(--font-color);
    }

    .burger-menu__button--active .burger-menu__span--2 {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
        background-color: var(--font-color);
    }

    .burger-menu__button--active .burger-menu__span--3 {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
        background-color: var(--font-color);
    }