.not-found {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    z-index: 10;
}


.not-found__title {
    font-size: 80px;
    line-height: 80px;
}

.not-found__description {
    color: var(--secondary-font-color);
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
}

.not-found-button {
    height: 50px;
    gap: 10px;
    border: none;
    padding: 0 20px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    color: black;
    fill: black;
    background-color: var(--accent);
    transition: all 300ms ease-out;
    z-index: 1;
}


@keyframes tilt-shaking {
    0% { transform: translateX(-5px) }
    25% { transform: translateX(-2.5px) }
    50% { transform: translateX(-0px) }
    75% { transform: translateX(-2.5px)  }
    100% { transform: translateX(-5px) }
  }

.not-found-button .svg {
    width: 30px;
    height: 30px;
    animation: tilt-shaking 0.9s linear infinite;
}

.not-found-button .not-found-button__text {
    flex-grow: 1;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .not-found-button {
        height: 40px;
        bottom: 15px;
        right: 15px;
    }

    .not-found-button .svg {
        width: 25px;
        height: 25px;
    }

    .not-found-button .not-found-button__text {
        font-size: 14px;
    }
}