:root {
    --font-color: #ffffff;
    --secondary-font-color: #9e9e9e;
    
    --bg-color: #000000;
    --bg-color-opacity: rgba(0, 0, 0, 0.466);
    --bg-color-gradient-1: #191919;
    --bg-color-gradient-2: #393939;

    --card-bg-color: #1b1b1b;
    --card-bg-color-opacity: rgba(0, 0, 0, 0.52);
    --secondary-card-bg-color: #2d2d2d;
    --tooltip: #3c3c3c;

    --box-shadow: rgba(0, 0, 0, 0.20);
    --accent:  #DCE359;

    --helper-green: #48d156;
    --helper-red: #e93636;
}

:root[theme='light'] {
    --font-color: #000000;
    --secondary-font-color: #313131;

    --bg-color: #f9f9f9;
    --bg-color-opacity: rgba(255, 255, 255, 0.674);
    --bg-color-gradient-1: #eaeaea;
    --bg-color-gradient-2: #c9c9c9;

    --card-bg-color: #ecececfc;
    --card-bg-color-opacity: rgba(255,255,255,0.6);
    --secondary-card-bg-color: #e8e8e8;
    --tooltip: #939393;

    --box-shadow: rgba(0, 0, 0, 0.155);
    --accent: #DCE359;
    --helper-green: #219e2d;
    --helper-red: #9d2222;
}