.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 120px;
}

.container--full-width {
    max-width: 100%;
    padding: 0;
}

.container--without-bottom {
    margin-bottom: 0;
}

.container__title {
    text-align: center;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    white-space: pre-line;
    text-transform: uppercase;
}

.container__title--middle {
    font-size: 32px;
    line-height: 40px;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        margin-bottom: 60px;
    }

    .container__title {
        max-width: 350px;
        text-align: left;
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .container__title--always-center {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .container--full-width {
        padding: 0;
    }

    .container--without-bottom {
        margin-bottom: 0;
    }
}

