@import "./colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background-color: var(--bg-color);

}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 100px;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-size: 16px;
    line-height: 25px;
    color: var(--font-color);
    position: relative;
}

html, 
body {
    overflow-x: hidden;
}
