.grid {
    display: flex;
    row-gap: 30px;
    column-gap: 2%;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.grid__title {
    text-align: center;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

.grid__description {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-font-color);
    margin-bottom: 40px;
}

.grid__item {
    width: 32%;
    padding: 20px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    border-radius: 30px;
}

.grid__item--clickable {
    cursor: pointer;
}

.grid__item--clickable:hover {
    background-color: var(--secondary-card-bg-color);
}

@media screen and (max-width: 1080px) {
    .grid__item {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .grid__item {
        width: 100%;
        padding: 20px;
    }

    .grid__title {
        max-width: 350px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .grid__description {
        width: 100%;
        max-width: 350px;
        margin: 0;
        padding: 0 20px;
        text-align: left;
        color: var(--secondary-font-color);
        margin-bottom: 20px;
    }
}